
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
}


.choices {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.choice img {
    height: 100px;
}

.choice:hover {
    transform: scale(1.1);
    background-color: black;
}


.score-board {
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    gap: 80px;
}

.score {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.score p {
    font-size: 24px;
    margin: 5px 0;
    font-weight: bold;
}


.msg-container {
    margin-top: 30px;
}

#msg {
    background: #333;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
